{% extends "base.html" %}

{% block title %}Logs de Acceso{% endblock %}

{% block content %}
<div class="container my-5 rounded p-4 bg-light">
<h2 class="centered">Registros de Acceso</h2>
<div class=" border container my-5" style="overflow-x:auto;">
<table id="dataTable_logs" class="table table-striped">
    <thead class="centered">
        <tr>
            <th class="centered">ID</th>
            <th class="centered">Profesor</th>
            <th class="centered">QR</th>
            <th class="centered">Laboratorio</th>
            <th class="centered">HORA DE INGRESO</th>
            <th class="centered">Acciones</th>
        </tr>
    </thead>
    <tbody >
        {% for log in logs %}
            <tr  >
                <td class="centered">{{ log.id }}</td>
                <td class="centered">{{ log.professor.username }}</td>
                <td class="centered">{{ log.professor.qr_code }}</td>
                <td class="centered">{{ log.lab.name }} - {{ log.lab.description }}</td>
                <td class="centered">{{ log.timestamp }}</td>
                <td class="centered">
                    <form action="{{ url_for('delete_log') }}" method="POST" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este registro?');">
                        <input type="hidden" name="log_id" value="{{ log.id }}">
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
