{% extends "base.html" %}

{% block title %}Logs de Acceso{% endblock %}

{% block content %}
<div class="container my-5 rounded p-4 bg-light">
<h2 class="centered">Registros de Acceso</h2>
<div class=" border container my-5" style="overflow-x:auto;">
<table id="dataTable_logs" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Profesor</th>
            <th>QR</th>
            <th>Laboratorio</th>
            <th>HORA DE INGRESO</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
            <tr>
                <td>{{ log.id }}</td>
                <td>{{ log.professor.username }}</td>
                <td>{{log.professor.qr_code}}</td>
                <td>{{ log.lab.name }}</td>
                <td>{{ log.timestamp }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
