{% extends "base.html" %}

{% block title %}Gestionar Profesores {% endblock %}

{% block content %}

    
    <div class="container margin_top">
        <h1 class="text-center">Gestionar Profesores</h1>
        <form method="POST" class="my-4">
            <input type="hidden" name="action" value="add">
            <div class="mb-3">
                <label for="name" class="form-label">Nombre:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="qr_code" class="form-label">Código QR:</label>
                <input type="text" class="form-control" id="qr_code" name="qr_code" required>
            </div>
            <button type="submit" class="btn btn-success">Agregar Usuario</button>
        </form>
        <h2>Usuarios Existentes</h2>
        <table id="dataTables_profes" class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Código QR</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.qr_code }}</td>
                    <td>
                        <form method="POST" style="display:inline;">
                            <input type="hidden" name="action" value="delete">
                            <input type="hidden" name="user_id" value="{{ user.id }}">
                            <button type="submit" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can"></i></button>
                        </form>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editModal" data-id="{{ user.id }}" data-username="{{ user.username }}" data-qrcode="{{ user.qr_code }}"><i class="fa-solid fa-pen-to-square"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
     {}
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Editar Usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="{{ url_for('edit_user') }}">
                    <div class="modal-body">
                        <input type="hidden" name="user_id" id="editUserId">
                        <div class="form-group">
                            <label for="editUsername">Nombre</label>
                            <input type="text" class="form-control" id="editUsername" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="editQrCode">Código QR</label>
                            <input type="text" class="form-control" id="editQrCode" name="qr_code" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="close btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $('#editModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Botón que activó el modal
            var id = button.data('id')
            var username = button.data('username')
            var qr_code = button.data('qrcode')

            var modal = $(this)
            modal.find('.modal-body #editUserId').val(id)
            modal.find('.modal-body #editUsername').val(username)
            modal.find('.modal-body #editQrCode').val(qr_code)
        })
    </script>
{% endblock %}
