{% extends "base.html" %}

{% block title %}Carnet de {{ user.role|capitalize }}{% endblock %}

{% block content %}
<div class="container margin_top">
    <h1 class="text-center">Carnet de {{ user.role|capitalize }}</h1>
    <div class="card">
        <div class="card-body text-center">
            <h5 class="card-title">Nombre: {{ user.name }}</h5>
            <p class="card-text">Usuario: {{ user.username }}</p>
            <p class="card-text">Rol: {{ user.role|capitalize }}</p>
            <p class="card-text">Código QR:</p>
            <div>
                <img src="https://api.qrserver.com/v1/create-qr-code/?data={{ user.qr_code }}&size=150x150" alt="Código QR">
            </div>
        </div>
    </div>
</div>
{% endblock %}
