{% extends "base.html" %}

{% block title %}Perfil de {{ user.role|capitalize }}{% endblock %}

{% block content %}
<div class="container margin_top">
    <h1 class="text-center">Perfil de {{ user.role|capitalize }}</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Bienvenido, {{ user.name }}</h5>
            <p class="card-text">Usuario: {{ user.username }}</p>
            <p class="card-text">Rol: {{ user.role|capitalize }}</p>
            <p class="card-text">Código QR: {{ user.qr_code }}</p>
        </div>
    </div>
</div>
{% endblock %}
